<div class="modal fade" id="signUpModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ユーザー登録</h5>
        <button type="button" class="close" data-dismiss="modal">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <div class="field">
            <div class="field-cell">
              <div class="field-cell-label"><p>メールアドレス</p></div><!--  .label -->
              <div class="field-cell-formwrap">
                <div class="errmsg-cont"><p class="field-cell" id="errmsg-email"></p><!--  .field-cell --></div><!--  .errmsg-cont -->
                <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "30", class:"email_cell" %>
              </div><!--  .field-cell-formwrap -->
            </div><!--  .field-cell -->

          </div>

          <div class="field">
            <div class="field-cell">
              <div class="field-cell-label"><p>ユーザーネーム</p></div><!--  .label -->
              <div class="field-cell-formwrap">
                <div class="errmsg-cont"><p class="field-cell" id="errmsg-username"></p><!--  .field-cell --></div><!--  .errmsg-cont -->
                <%= f.text_field :user_name, autocomplete: "off" %>
              </div><!--  .field-cell-formwrap -->
            </div><!--  .field-cell -->
          </div><!--  .field -->

          <div class="field">
            <div class="field-cell">

              <div class="field-cell-label"><p>パスワード</p></div><!--  .label -->
              <div class="field-cell-formwrap">
                <div class="errmsg-cont"><p class="field-cell" id="errmsg-password"></p><!--  .field-cell --></div><!--  .errmsg-cont -->
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
                <%= f.password_field :password, autocomplete: "off", size: "30" %>
              </div><!--  .field-cell-formwrap -->


            </div><!--  .field-cell -->
          </div>

          <div class="field">
            <div class="field-cell">
              <div class="field-cell-label"><p>パスワード(確認)</p></div><!--  .label -->
              <div class="field-cell-formwrap">
                <div class="errmsg-cont"><p class="field-cell" id="errmsg-pswconfirm"></p><!--  .field-cell --></div><!--  .errmsg-cont -->
                <%= f.password_field :password_confirmation, autocomplete: "off", size: "30" %>
              </div><!--  .field-cell-formwrap -->

            </div><!--  .field-cell -->
          </div>

          <div class="field">
            <div class="actions">
              <%= f.submit "登録", class: 'btn-submit otpnSubmit', id:'signup_submit' %>
            </div>
          </div><!--  .field -->

          <div>
              <% render "devise/shared/links" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

  window.addEventListener('DOMContentLoaded', () => {

      // 「送信」ボタンの要素を取得
      const submit = document.getElementById('signup_submit');

      // 「送信」ボタンの要素にクリックイベントを設定する
      submit.addEventListener('click', (e) => {

          // 「メールアドレス」入力欄の空欄チェック
          // フォームの要素を取得
          const email = document.getElementById('user_email');
          // エラーメッセージを表示させる要素を取得
          const errMsgEmail = document.getElementById('errmsg-email');
          if(!email.value){
              // デフォルトアクションをキャンセル
             e.preventDefault();

              // クラスを追加(エラーメッセージを表示する)
              errMsgEmail.classList.add('form-invalid');
              // エラーメッセージのテキスト
              errMsgEmail.textContent = 'メールアドレスが入力されていません';
              // クラスを追加(フォームの枠線を赤くする)
              email.classList.add('input-invalid');
              // 後続の処理を止める
              return;
          }else if(!email.value.match(/^[A-Za-z0-9]{1}[A-Za-z0-9_.-]*@{1}[A-Za-z0-9_.-]{1,}\.[A-Za-z0-9]{1,}$/)){
            // デフォルトアクションをキャンセル
           e.preventDefault();
            // クラスを追加(エラーメッセージを表示する)
            errMsgEmail.classList.add('form-invalid');
            // エラーメッセージのテキスト
            errMsgEmail.textContent = 'メールアドレスの形式が違います。';
            // クラスを追加(フォームの枠線を赤くする)
            email.classList.add('input-invalid');
            // 後続の処理を止める
            return;
          }else{
            // エラーメッセージのテキストに空文字を代入
            errMsgEmail.textContent ='';
            // クラスを削除
            email.classList.remove('input-invalid');
          }


          // ユーザーネームの値をチェック(要追記)
          const username = document.getElementById('user_user_name');
          const errUsername = document.getElementById('errmsg-username');
          if(!username.value){
              // デフォルトアクションをキャンセル
              e.preventDefault();
              errUsername.classList.add('form-invalid');
              errUsername.textContent = 'ユーザーネームは必須項目です。';
              return;
          }else if(!username.value.match(/^(?!.*?[亜-熙ぁ-んァ-ヶ])[a-zA-Z0-9\s\W_]{2,50}$/)){
            e.preventDefault();
            errUsername.classList.add('form-invalid');
            errUsername.textContent = 'ユーザーネームは半角英数字(スペース・記号可)で入力してください。';
            return;
          }else{
              errUsername.textContent ='';
              username.classList.remove('input-invalid');
          };



          // 「パスワード」入力欄の形式チェック
          const pass = document.getElementById('user_password');
          const errMsgPass = document.getElementById('errmsg-password');
          // パスワードが5文字以上の半角英数字であるかどうかのチェック(大文字小文字、数字、記号を全て含むもの?)
          if(!pass.value.match(/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?\d)[a-zA-Z\d\W]{5,35}$/i)){
              // デフォルトアクションをキャンセル
              e.preventDefault();

              errMsgPass.classList.add('form-invalid');
              errMsgPass.textContent = '半角英数字5文字以上35文字以下で入力してください';
              pass.classList.add('input-invalid');
              return;
          }else{
              errMsgPass.textContent ='';
              pass.classList.remove('input-invalid');
          }


          // 「パスワード」と「パスワード再入力」が一致しているかどうかのチェック
          const passRe = document.getElementById('user_password_confirmation');
          const errMsgPassRe = document.getElementById('errmsg-pswconfirm');
          if(pass.value !== passRe.value){
              // デフォルトアクションをキャンセル
              e.preventDefault();

              errMsgPassRe.classList.add('form-invalid');
              errMsgPassRe.textContent = 'パスワードとパスワード再入力が一致していません';
              passRe.classList.add('input-invalid');
              return;
          }else{
              errMsgPassRe.textContent ='';
              passRe.classList.remove('input-invalid');
          }

      }, false);
  }, false);

  // モーダル
  var signupError = document.getElementById("signUpErrorModal");

  // window.addEventListener('load',function(){
  //   signupError.classList.add('show');
  // });

  // window.addEventListener('load',function(){
  //
  //   console.log("ヴァンパイア朝活");
  //
  //   var ref = document.referrer;             // リファラ情報を得る
  //   var herePath = window.location.pathname; // 現在ページのパス名を得る
  //
  //   // リファラ文字列を判別
  //   if( herePath == "" ) {
  //       // リファラなしの場合
  //       console.log("リファラ情報がありません");
  //   }
  //   else if( herePath != "/" ) {
  //       // マッチした場合＝アクセス元が自サイト内の場合
  //       console.log("自サイト内から来ました");
  //       window.location.reload();
  //   } else {
  //       // マッチしない場合＝アクセス元がサイト外の場合
  //       console.log("他のサイトから訪れました");
  //   }
  //   console.log(ref);
  //   console.log(herePath);
  //
  // });




  <%= render partial: 'shared/main_scripts' %>



</script>
