<div class="sampler-index">

  <h4>サンプラー一覧</h4>
  <% if user_signed_in? %>


  <%= form_with url: root_path, method: :get, local: true, autocomplete: 'off' do |f| %>
    <div class="field has-addons">
      <div class="controll is-expanded">
        <%= f.text_field :query, value: params[:query], class: 'search-field', id: 'search-field query', autocomplete: 'off', placeholder: 'サンプラーを検索' %>
        <%= f.submit class:'sampler-search', value: "" %>
        <i class="fas fa-search search"></i>
      </div><!--  .controll is-expanded -->
        <%# javascript_pack_tag 'suggestionForm' %>
        <%# javascript_pack_tag 'InstantSearch' %>
    </div><!--  .field has-addons -->
  <% end %>


  <div class="sampler-index-wrapper">
    <div class="sampler-scrollx">
      <div class="sampler-scrolly">

        <div class="jscroll">

          <% @samplers.each do |sampler| %>
          <div class="scroll-list" id="search-index">

            <div class="sampler" id="sampler_<%= sampler.id %>" style="">

              <div class="sampler-postname-wrapper">
                <p class="sampler-postname"><%= sampler.sampler_name.truncate(24, :omission) %></p>
              </div><!--  .sampler-postname-wrapper -->

              <div class="sampler-date-wrapper">
                <div class="sampler-created">
                  <p><%= l sampler.created_at, format: :long %></p>
                </div><!--  .sampler-created -->
                <div class="sampler-updated">
                  <p><%= l sampler.updated_at, format: :long %></p>
                </div><!--  .sampler-updated -->
              </div><!--  .sampler-date-wrapper -->


              <%
              @seboard_Q = sampler.seboards.order(id: :desc).find_by(position: 1)
              @seboard_W = sampler.seboards.order(id: :desc).find_by(position: 2)
              %>




              <script type="text/javascript">
                var samplerPost_<%= sampler.id %> = document.getElementById('sampler_<%= sampler.id %>');

                samplerPost_<%= sampler.id %>.addEventListener('click',function(){
                  // 音量変更

                  console.log(samplerPost_<%= sampler.id %>);
                  samplerName.value = "<%= sampler.sampler_name %>";

                  <%= render partial: 'shared/samplerReader' %>

                });
              </script>


            </div><!--  .option_Q -->

          </div><!--  .sampler-index -->



          <% end %>
          <%= paginate @samplers %>
        </div><!--  .jscroll -->

      </div><!--  .sampler-scrolly -->
    </div><!--  .sampler-scrollx -->
  </div><!--  .sampler-index-wrapper -->

  <% end %>

</div><!--  .scroll-list jscroll -->
