<div class="modal fade help" id="help">
  <div class="modal-dialog help">
    <div class="modal-content andHelp">

      <div class="modal-header">
        <!-- <h5 class="modal-title">はじめての方へ -アプリの使い方-</h5> -->
        <button type="button" class="close" data-dismiss="modal">
          <i class="fas fa-times"></i>
        </button>
      </div>

      <div class="modal-body help">

        <div class="swiper-container help">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="help-contents">

                <div class="help-imgwrap pc">
                  <%= image_tag 'h-help-1pc_ヘルプ画像 -はじまり-.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-imgwrap sp">
                  <%= image_tag 'h-help-1sp.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-txtwrap">
                  <div class="help-txt-ttl">
                    <p>OTPNfinity_Kariへようこそ</p>
                  </div><!--  .help-txt-ttl -->
                  <div class="help-txt-sub">
                    <p class="pro">こんにちは。</p><!--  .pro -->
                    <p class="pro">OTPNfinity_Kariは、全12ボタンの効果音割り当て、ちょっとしたタイミングで再生できる機能だけでなく、</p><!--  .pro -->
                    <p class="pro">全12ボタンに割り当てた設定の保存/読み込みもできるちょっとした便利アプリです。</p><!--  .pro -->
                  </div><!--  .help-txt-sub -->
                </div><!--  .help-txtwrap -->

              </div><!--  .help-wrapinner -->
            </div><!--  .swiper-slide -->


            <div class="swiper-slide">
              <div class="help-contents">

                <div class="help-imgwrap pc">
                  <%= image_tag 'h-help-2pc-2_.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-imgwrap sp">
                  <%= image_tag 'h-help-2sp_.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-txtwrap">
                  <div class="help-txt-ttl">
                    <p>「設定」を開いてみよう</p>
                  </div><!--  .help-txt-ttl -->
                  <div class="help-txt-sub">
                    <p class="pro">まずは、「歯車」マークをクリックして「設定」パネルを開いてみましょう。</p><!--  .pro -->
                    <p class="pro">ボタンごとの設定が表示されます。</p><!--  .pro -->
                  </div><!--  .help-txt-sub -->
                </div><!--  .help-txtwrap -->

              </div><!--  .help-wrapinner -->
            </div><!--  .swiper-slide -->

            <div class="swiper-slide">
              <div class="help-contents">

                <div class="help-imgwrap pc">
                  <%= image_tag 'h-help-expc.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-imgwrap sp">
                  <%= image_tag 'h-help-exsp.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-txtwrap">
                  <div class="help-txt-ttl">
                    <p>ボタンごとに設定を変更しよう</p>
                  </div><!--  .help-txt-ttl -->
                  <div class="help-txt-sub">
                    <p class="pro"><span class="pc">左</span><span class="sp">上</span>のパネルで、音源を割り当てたり、設定を変更したいボタンを変更することができます。</p><!--  .pro -->
                    <p class="pro">最初は一番左上の「Q」のボタンが選択されています。</p><!--  .pro -->
                    <p class="pro">好きなボタンをクリックして、変更したいボタンの設定が変えられるようにしてみましょう。</p><!--  .pro -->
                  </div><!--  .help-txt-sub -->
                </div><!--  .help-txtwrap -->

              </div><!--  .help-wrapinner -->
            </div><!--  .swiper-slide -->

            <div class="swiper-slide">
              <div class="help-contents">

                <div class="help-imgwrap pc">
                  <%= image_tag 'h-help-3pc.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-imgwrap sp">
                  <%= image_tag 'h-help-3sp2.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-txtwrap">
                  <div class="help-txt-ttl">
                    <p>音源を読み込もう</p>
                  </div><!--  .help-txt-ttl -->
                  <div class="help-txt-sub">
                    <p class="pro">設定パネル左のアイコンをクリックすると、PCやスマホ上に保存した効果音を読み込むことができます。</p><!--  .pro -->
                  </div><!--  .help-txt-sub -->
                </div><!--  .help-txtwrap -->

              </div><!--  .help-wrapinner -->
            </div><!--  .swiper-slide -->


            <div class="swiper-slide">
              <div class="help-contents">

                <div class="help-imgwrap pc">
                  <%= image_tag 'h-help-4pc.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-imgwrap sp">
                  <%= image_tag 'h-help-4sp2.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-txtwrap">
                  <div class="help-txt-ttl">
                    <p>色々な設定を変更できる</p>
                  </div><!--  .help-txt-ttl -->
                  <div class="help-txt-sub">
                    <p class="pro">音源の読み込み以外にも、音量・ボタンの色・ループ可否の切り替えに加えて、ボタンに表示する効果音の名前の変更が可能です。</p><!--  .pro -->
                    <p class="pro">自分好みのボタンを作ってみましょう。</p><!--  .pro -->
                  </div><!--  .help-txt-sub -->
                </div><!--  .help-txtwrap -->

              </div><!--  .help-wrapinner -->
            </div><!--  .swiper-slide -->


            <div class="swiper-slide">
              <div class="help-contents">

                <div class="help-imgwrap pc">
                  <%= image_tag 'h-help-5pc.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-imgwrap sp">
                  <%= image_tag 'h-help-5sp2.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-txtwrap">
                  <div class="help-txt-ttl">
                    <p>鳴らしてみよう</p>
                  </div><!--  .help-txt-ttl -->
                  <div class="help-txt-sub">
                    <p class="pro">マウスクリック、もしくは対応するキーボードのキーを入力することで読み込んだ音を鳴らしてみましょう。</p><!--  .pro -->
                    <p class="pro"><span class="">※設定で「ループ」を可能にしている場合は、再生中に再生しているボタンをクリック又はキータッチで停止できます。</span></p><!--  .pro -->
                  </div><!--  .help-txt-sub -->
                </div><!--  .help-txtwrap -->

              </div><!--  .help-wrapinner -->
            </div><!--  .swiper-slide -->


            <div class="swiper-slide">
              <div class="help-contents">

                <div class="help-imgwrap pc">
                  <%= image_tag 'h-help-6pc.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-imgwrap sp">
                  <%= image_tag 'h-help-6sp.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-txtwrap">
                  <div class="help-txt-ttl">
                    <p>ログインで「設定を保存」できる</p>
                  </div><!--  .help-txt-ttl -->
                  <div class="help-txt-sub">
                    <p class="pro">作成した設定は、名前をつけて保存し、読み込むことができます。</p><!--  .pro -->
                    <p class="pro">自分の好きなタイミングで保存した設定を使ってみましょう。</p><!--  .pro -->
                    <p class="pro"><span class="help alert">※ボタンの保存機能の使用はユーザー登録が必要です。</span></p><!--  .pro -->
                  </div><!--  .help-txt-sub -->
                </div><!--  .help-txtwrap -->

              </div><!--  .help-wrapinner -->
            </div><!--  .swiper-slide -->


            <div class="swiper-slide">
              <div class="help-contents">

                <div class="help-imgwrap pc">
                  <%= image_tag 'h-help-7pc.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-imgwrap sp">
                  <%= image_tag 'h-help-7sp.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-txtwrap">
                  <div class="help-txt-ttl">
                    <p>設定を保存/上書きしてみよう</p>
                  </div><!--  .help-txt-ttl -->
                  <div class="help-txt-sub">
                    <p class="pro">現在の設定を保存したい時は、右上の「サンプラー名を入力」のフォームに好きな名前を入力し、一番下の「設定を保存する」ボタンを押してください。</p><!--  .pro -->
                    <p class="pro">同じ名前で保存すれば自動で上書き保存になります。</p><!--  .pro -->
                  </div><!--  .help-txt-sub -->
                </div><!--  .help-txtwrap -->

              </div><!--  .help-wrapinner -->
            </div><!--  .swiper-slide -->


            <div class="swiper-slide">
              <div class="help-contents">

                <div class="help-imgwrap pc">
                  <%= image_tag 'h-help-8pc.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-imgwrap sp">
                  <%= image_tag 'h-help-8sp.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-txtwrap">
                  <div class="help-txt-ttl">
                    <p>保存した設定を読み込もう</p>
                  </div><!--  .help-txt-ttl -->
                  <div class="help-txt-sub">
                    <p class="pro">保存した設定は、右の一覧に保存されます。</p><!--  .pro -->
                    <p class="pro">クリックすることで、前回保存したボタンの設定にすることができます。</p><!--  .pro -->
                  </div><!--  .help-txt-sub -->
                </div><!--  .help-txtwrap -->

              </div><!--  .help-wrapinner -->
            </div><!--  .swiper-slide -->


            <div class="swiper-slide">
              <div class="help-contents">

                <div class="help-imgwrap pc">
                  <%= image_tag 'h-help-9pc.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-imgwrap sp">
                  <%= image_tag 'h-help-9sp.png' %>
                </div><!--  .help-imgwrap -->
                <div class="help-txtwrap">
                  <div class="help-txt-ttl">
                    <p>自分好みの効果音を鳴らして楽しもう</p>
                  </div><!--  .help-txt-ttl -->
                  <div class="help-txt-sub">
                    <p class="pro">説明は以上です。</p><!--  .pro -->
                    <p class="pro">思い思いの効果音を鳴らして、生放送やテレビ電話などで楽しく活用してみましょう。</p><!--  .pro -->
                  </div><!--  .help-txt-sub -->
                </div><!--  .help-txtwrap -->

              </div><!--  .help-wrapinner -->
            </div><!--  .swiper-slide -->


          </div><!--  .swiper-wrapper -->
          <div class="swiper-button-prev pager help-prevbtn"></div><!--  .swiper-btn-next -->
          <div class="swiper-button-next pager help-nextbtn"></div><!--  .swiper-btn-prev -->
          <div class="swiper-pagination"></div><!--  .swiper-btn-prev -->
        </div><!--  .swiper-container -->


      </div>
    </div>
  </div>
</div>
